astroid==2.15.8
audiostream==0.2
cffi==1.16.0
dill==0.3.7
distro==1.8.0
isort==5.12.0
jedi==0.19.0
Kivy==2.2.1
lazy-object-proxy==0.0.0
mccabe==0.7.0
packaging==23.1
parso==0.8.3
pkgconfig==1.5.5
platformdirs==3.10.0
pybind11==2.11.1
pycparser==2.21
pygame==2.5.0
pyjnius==1.5.0
pylint==2.17.5
PySDL2==0.9.15
scikit-build==0.17.6
six==1.16.0
tomlkit==0.12.1
typed-ast==1.5.5
wrapt==1.15.0
