{% load crispy_forms_tags %}
{% load static %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" href="/media/credit_risk/static/css/navbar.css">
	</head>
	<body>
		<div class="container">
			<nav class="vertical-nav bg-white" id="sidebar">
				 <div class="media d-flex align-items-center">
				 	<img src="/media/credit_risk/logo.jpg" alt="..." class="">
				 </div>
				<ul class="nav flex-column bg-white">
					<li class="nav-item">
						<a href="{% url 'login:index' %}" class="nav-link text-dark font-italic bg-light">
            				Home
        				</a>
					</li>
					<li class="nav-item">
						<a href="{% url 'login:login' %}" class="nav-link text-dark font-italic">
            				Login
        				</a>
					</li>
				</ul>
			</nav>
			
	    	<div class="page-content" id="content">
	    		<!-- <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Toggle</small></button> -->
				<h1> Credit Risk Evaluation Application </h1>
				<div>
					<p>
						This application helps a loan granting officer of a
						bank or financial organisation to evaluate the loan applications.
						This helps in making decisions with regard to the applied loans.<br>
						<b>Background: </b>Risk for the applied loan can be evaluated using
						three methods - Rule based, Statistical based and Machine Learning based.
						Rule based models rely on well defined rules to judge a use case while
						Statistical and Machine Learning models rely on the data of other
						previously given loans. A decision can be suggested in this case by analysis
						of this data.<br> 
						<b>Usage of the application: </b>Points to note while using the application:
						<ol>
							<li>
								<b>Users: </b>There are two users of the application: Loan Administrator and
								Loan Officer. Loan Admin is responsible for setting rules for the rule
								based model and adding dataset for statistical and ML based models.
								Loan Officer can add the dataset for testing the loan applicants and
								choose to see the results for a loan id using any of the three models
								for evaluation.
							</li>
							<li>
								<b>Setting rules: </b> For rule based model, add features using the "Add 
								Feature" screen, configure the feature using "Configuration" screen
								with a weightage between 0 and 1 such that weightages of all the features 
								add to 1. Then, set criteria for a feature using "Criteria" screen.
							</li>
							<li>
								<b>Setting criteria: </b> 
								<ul>
									<li>
										Select the feature, product and category from the dropdown lists in the
										"Criteria" screen. 
									</li>
									<li>
										Select the data source. If it is XML/JSON, specify the source url in
										API and provide the key. If it is SQL,	write the SQL query from the
										database named "db". e.g. "SELECT loan_amnt from db". You need not
										provide key for SQL.
									</li>
									<li>
										Set criterias and their scores. If the feature is categorical, set
										criteria using "is feature_name". e.g. For a feature say "gender",
										set the score for criteria "is Male" and "is Female" differently.  
									</li>
								</ul>
							</li>
							<li>
								<b>Uploading datasets: </b>
								<ul>
									<li>
										For uploading dataset of customers who have applied for loan, just 
										uplaod a ".csv" file in the "Upload Dataset" screen of Loan Officer.
									</li>
									<li>
										For uploading dataset for training, upload a ".csv" file in "Upload 
										Dataset" screen of Loan Admin.
									</li>
								</ul>
							</li>
							<li>
								<b>Seeing Results: </b>
								<ul>
									<li>
										You can see the results by entering a loan id and 
										checking any of the models in the "Scorecard" screen of the Loan 
										Officer if	the screen shows that the model is ready for analysis.
									</li>
									<li>
										The rule based model gives the score (between 1-10) according to the
										specified rules.
									</li>
									<li>
										The statistical and machine learning based models give probability of
										approval of the loan according to the best machine learning/statistical
										model implemented.
									</li>
								</ul>
							</li>
						</ol>  
					</p>
				</div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		<script>
			$(function() {
				// Sidebar toggle behavior
  				$('#sidebarCollapse').on('click', function() {
    				$('#sidebar, #content').toggleClass('active');
  				});
			});
		</script>
	</body>
</html>