{% load crispy_forms_tags %}
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<div class="container">
	<div class="row justify-content-center">
    	<div class="col-8">
			<img src="/media/credit_risk/logo.jpg"> &nbsp &nbsp &nbsp
			<a href="{% url 'login:index' %}"> Home </a> &nbsp &nbsp &nbsp
			<a href="{% url 'login:login' %}"> Login </a><br>
			<h1> Login </h1>
			<a href="{% url 'loan_officer:index' %}"> Loan Officer </a><br>
			<a href="{% url 'loan_admin:index' %}"> Loan Administrator </a>
		</div>
	</div>
</div>