{% load crispy_forms_tags %}
{% load static %}
{% if session == "1" %}
	<!doctype html>
	<html lang="en">
		<head>
			<meta charset="utf-8">
		    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
			<!-- Material Design Bootstrap -->
			<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.15.0/css/mdb.min.css" rel="stylesheet">
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
			<!-- Bootstrap tooltips -->
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
			<!-- Bootstrap core JavaScript -->
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
			<!-- MDB core JavaScript -->
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.15.0/js/mdb.min.js"></script>
			<link rel="stylesheet" href="/media/credit_risk/static/css/navbar.css">

		</head>
		<body>
			<div class="container">
				<nav class="vertical-nav bg-white" id="sidebar">
					 <div class="media d-flex align-items-center">
					 	<img src="/media/credit_risk/logo.jpg" alt="..." class="">
					 </div>
					<ul class="nav flex-column bg-white">
						<li class="nav-item">
							<a href="{% url 'login:index' %}" class="nav-link text-dark font-italic">
	            				Home
	        				</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'loan_admin:index' %}" class="nav-link text-dark font-italic">
	            				Add Feature
	        				</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'loan_admin:configuration' %}" class="nav-link text-dark font-italic bg-light">
	            				Configuration
	        				</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'loan_admin:criteria' %}" class="nav-link text-dark font-italic">
	            				Criteria
	        				</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'loan_admin:set_scale' %}" class="nav-link text-dark font-italic">
	            				Set Scale
	        				</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'loan_admin:uploadCSV' %}" class="nav-link text-dark font-italic">
	            				Upload Dataset
	        				</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'login:logout' %}" class="nav-link text-dark font-italic" id="link">
		        				Logout
		    				</a>
						</li>
					</ul>
				</nav>
				<div class="page-content" id="content">
					<div class="card">

					    <h5 class="card-header info-color white-text text-center py-4">
					        <strong>Configuration</strong>
					    </h5>
					    {% if messages %}
						<div class="alert alert-success" role="alert">
						    {% for message in messages %}
						    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
						    {% endfor %}
						</div>
						{% endif %}
					    <!--Card content-->
					    <div class="card-body px-lg-5 pt-0">
					    	
					        <!-- Form -->
					        <form class="" style="color: #757575;" action="{% url 'loan_admin:weigh' %}" method="POST" role="form">
					        	{% csrf_token %}
					            <!-- Subject -->
					            <br>
					            <div class="" id="id_1">
					            	<label>{{ form.feature.label }}</label>
					            	{{ form.feature }}

					            </div>
					            <div>
						           <label>{{ form.category.label }}</label>
					            	{{ form.category }}
					            </div>
					            <div>
						            <label>{{ form.product.label }}</label>
						            {{ form.product }}
						        </div>
					            <div class="md-form">
							        {{ form.weightage }}
							        <label id='1' for="1">{{ form.weightage.label }}</label>
							    </div>
					            <input type="button" class="btn btn-default" value="Get" id="get_value">
					            <!-- Send button -->
					            <input class="btn btn-primary" value="submit" type="submit">

					        </form>
					        <!-- Form -->

					    </div>
					<!-- <h1> Configuration </h1>
					{% if messages %}
					<div class="alert alert-success" role="alert">
					    {% for message in messages %}
					    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
					    {% endfor %}
					</div>
					{% endif %}
					<form action="{% url 'loan_admin:weigh' %}" method="POST" role="form">
						{% csrf_token %}
						<b>{{ form.feature.label }}*</b>
						{{ form.feature }}<br><br>
						<div id="id_1">
							<b>{{ form.category.label }}*</b>
							{{ form.category }}<br><br>
						</div>
						<div id="id_2">
							<b>{{ form.product.label }}*</b>
							{{ form.product }}<br><br>
						</div>
						<b>{{ form.weightage.label }}*</b>
						{{ form.weightage }}
						<br>
						<input type="button" class="btn btn-success" value="Get" id="get_value">
					    <input type="submit" value="Submit" class="btn btn-primary">
					</form> -->
				</div>
			</div>
			<script>
				$(document).ready(function(){
				    $("#get_value").on('click', function () {
						var feature = $("#id_feature").val();
						console.log(feature);
						$.ajax({
							url: '/loan_admin/ajax/get_configuration_values/',
							data: {
								'feature': feature
							},
							dataType: 'json',
							success: function (data) {
								$('#1').val('')
								$("#id_weightage").val(data.weightage);
							}
						});
				    });
				    $('.mdb-select').materialSelect();
				});
			</script>
		</body>
	</html>
{% else %}
	Page not found.
{% endif %}