{% load crispy_forms_tags %}
{% load static %}
{% if session == "2" %}
	<!doctype html>
	<html lang="en">
		<head>
			<meta charset="utf-8">
		    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
			<link rel="stylesheet" href="/media/credit_risk/static/css/navbar.css">
		</head>
		<body>
			<div class="container">
				<nav class="vertical-nav bg-white" id="sidebar">
					 <div class="media d-flex align-items-center">
					 	<img src="/media/credit_risk/logo.jpg" alt="..." class="">
					 </div>
					<ul class="nav flex-column bg-white">
						<li class="nav-item">
							<a href="{% url 'login:index' %}" class="nav-link text-dark font-italic">
	            				Home
	        				</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'loan_officer:index' %}" class="nav-link text-dark font-italic bg-light">
	            				Scorecard
	        				</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'loan_officer:uploadCSV' %}" class="nav-link text-dark font-italic">
	            				Upload Dataset
	        				</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'login:logout' %}" class="nav-link text-dark font-italic" id="link">
	            				Logout
	        				</a>
						</li>
					</ul>
				</nav>
				<div class="page-content" id="content">
					<h1> Scorecard </h1>
					<div>
						<ul>
							<li>Rule - ready</li>
							<li>Stat and ML - {% if status_bg %}ready{% else %}not ready{% endif %} </li>
						</ul>
					</div>
					<form action="{% url 'loan_officer:result' %}" method="GET" role="form">
					    <div>
					    	<label>Loan ID</label>
					    	{{ form.loan_id }}
					    </div>
					    <br>
					    <div class="custom-control custom-checkbox mb-3">
					    	{{ form.rule_based }}
					    	<label class="custom-control-label" for="customCheck1">Rule Based</label>
					    </div><div class="custom-control custom-checkbox mb-3">
					    	{{ form.statistical_based }}
					    	<label class="custom-control-label" for="customCheck2">Statistical Based</label>
					    </div>
					    <div class="custom-control custom-checkbox mb-3">
					    	{{ form.ML_based }}
					    	<label class="custom-control-label" for="customCheck3">ML Based</label>
					    </div>
					    <input type="submit" value="Submit" class="btn btn-primary">
					</form>
				</div>
			</div>
			<script>
				$(document).ready(function(){
					$("#link").on('click', function () {
						console.log("a");
					});
				});
			</script>
		</body>
	</html>
{% else %}
	Page not found.
{% endif %}