{% load crispy_forms_tags %}
{% load static %}
{% if session == "2" %}
	<!doctype html>
	<html lang="en">
		<head>
			<meta charset="utf-8">
		    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
			<!-- Material Design Bootstrap -->
			<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.15.0/css/mdb.min.css" rel="stylesheet">
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
			<!-- Bootstrap tooltips -->
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
			<!-- Bootstrap core JavaScript -->
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
			<!-- MDB core JavaScript -->
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.15.0/js/mdb.min.js"></script>
			<link rel="stylesheet" href="/media/credit_risk/static/css/navbar.css">
		</head>
		<body>
			<div class="container">
				<nav class="vertical-nav bg-white" id="sidebar">
					 <div class="media d-flex align-items-center">
					 	<img src="/media/credit_risk/logo.jpg" alt="..." class="">
					 </div>
					<ul class="nav flex-column bg-white">
						<li class="nav-item">
							<a href="{% url 'login:index' %}" class="nav-link text-dark font-italic">
	            				Home
	        				</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'loan_officer:index' %}" class="nav-link text-dark font-italic">
	            				Scorecard
	        				</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'loan_officer:uploadCSV' %}" class="nav-link text-dark font-italic bg-light">
	            				Upload Dataset
	        				</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'login:logout' %}" class="nav-link text-dark font-italic" id="link">
	            				Logout
	        				</a>
						</li>
					</ul>
				</nav>
				<div class="page-content" id="content">
					<div class="card">
						<h5 class="card-header info-color white-text text-center py-4">
							Customer Dataset Upload
						</h5>
						{% if messages %}
						<div class="alert alert-success" role="alert">
						    {% for message in messages %}
						    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
						    {% endfor %}
						</div>
						{% endif %}
						<form style="color: #757575;" action="{% url 'loan_officer:add' %}" method="POST" enctype= multipart/form-data>
							{% csrf_token %}
							<br>
							<div class="custom-file">
								{{ form.file }}
								<label class="custom-file-label" for="customFile">Choose file</label>
							</div><br><br>
						    <input type="submit" value="Submit" class="btn btn-primary">
						</form>
					</div>
				</div>
			</div>
			<script>		
				$(".custom-file-input").on("change", function() {
				  var fileName = $(this).val().split("\\").pop();
				  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
				});
			</script>
		</body>
	</html>
{% else %}
	Page not found.
{% endif %}